:root {
  /* 10 px = 1 rem */
  font-size: 62.5%;

  /* ####Text */
  --vDarkDesatBlue: #1d1e35;
  --softRed: #f47c57;
  
  /*  ####Gradient Background gradient: */
  --softViolet: #af67e9;
  --softBlue: #6565e7;
  
  /* ###Neutral */
  --b:#000000;
  --w:#ffffff;

  /* ####Text */
  --vDarkGrayBlue: #4a4b5e;
  --darkGrayBlue: #787887;
  
  /* ####Dividers */
  --lGrayBlue: #e7e7e9;
}

/* CSS RESET */

html {
  scroll-behavior: smooth;
  transition: all .5s;
}

* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  font-size: 1.4rem;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-inline: 2rem;
  margin-inline: auto;
}

.container-action {
  box-sizing: border-box;
  max-width: 800px;
  padding-inline: 2rem;
  margin-inline: auto;
}

button {
  border: none;
  text-decoration: none;
}